<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>661667828786-b62m3k6beq84fo3m8ufa2cj21fmheam9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661667828786-b62m3k6beq84fo3m8ufa2cj21fmheam9</string>
	<key>API_KEY</key>
	<string>AIzaSyD6S9v89vR8I_vLt3XM1d6h8myeyLRGAEE</string>
	<key>GCM_SENDER_ID</key>
	<string>661667828786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lisahsteele.FirebaseTesting</string>
	<key>PROJECT_ID</key>
	<string>notificationtesting-6a447</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationtesting-6a447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:661667828786:ios:e170a94942045d7d</string>
	<key>DATABASE_URL</key>
	<string>https://notificationtesting-6a447.firebaseio.com</string>
</dict>
</plist>